nav{
    background: brown;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
nav a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
nav a:hover{
    color: bisque;
}
nav a.active{
    font-weight: 800;
    color: bisque;
}